<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Cursos</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>
    <h1>Lista de Cursos</h1>
    <a th:href="@{/dashboard}" class="back-button">Volver al Dashboard</a>
    <a th:href="@{/cursos/nuevo}">Nuevo Curso</a>
    <a th:href="@{/estudiantes}">Ver Estudiantes</a>
    <table border="1">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Créditos</th>
                <th>Estudiantes inscritos</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="c : ${cursos}">
                <td th:text="${c.nombre}"></td>
                <td th:text="${c.creditos}"></td>
                <td th:text="${c.estudiantes.size()}"></td>
                <td>
                    <a th:href="@{/cursos/{id}/inscribir(id=${c.id})}">Inscribir estudiante</a>
                </td>
            </tr>
        </tbody>
    </table>
</body>

</html>